<div class="menu">
    <ul class="list-unstyled">
        <li>
            @Html.ActionLink("Home","Index","Home")
        </li>
        <li>
            @Html.ActionLink("Browse Inventory", "Inventory", "Home")
        </li>
        <li>
            @Html.ActionLink("Browse by Author", "Author", "Home")
        </li>
        <li>
            @Html.ActionLink("Browse by Publisher", "Publisher", "Home")
        </li>
        <li>
            @Html.ActionLink("Browse by Location", "Location", "Home")
        </li>
        <li>
            @Html.ActionLink("Contact Managment", "Index", "Home")
        </li>
    </ul>
</div>