@model Henry_s_Bookstore.Models.BOOK

@{
    ViewBag.Title = Model.TITLE;
}
<div class="row gray-div">
    <p class="heading-position">For INTERNAL use only !</p>
</div>
<h4 class="text-center">@Model.TITLE.ToUpper()</h4>
<div class="row">
    <div class="col-3">
        @Html.Partial("_Menu");
    </div>
    <div class="col">
        <img src="~/Content/Images/@Model.BOOK_CODE/large.jpg" alt="@Model.TITLE" />
    </div>
    <div class="col">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>Title</th>
                    <td>@Model.TITLE</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>@Model.TYPE</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>$@Model.PRICE</td>
                </tr>
                <tr>
                    <th>Paperback?</th>

                    @if (Model.PAPERBACK == "1")
                    {
                        <td>True</td>
                    }
                    else
                    {
                        <td>False</td>
                    }
                </tr>
                <tr>
                    <th>Publisher</th>
                    <td><a href="@Url.Action("GetSpecificPublisher", "SearchPublisher", new { id = @Model.PUBLISHER.PUBLISHER_CODE})">@Model.PUBLISHER.PUBLISHER_NAME</a></td>
                </tr>
                <tr>
                    <th>Written by</th>
                    <td><a href="@Url.Action("GetSpecificAuthor", "SearchAuthor", new { id = ViewBag.Author.AUTHOR_NUM})">@ViewBag.Author.AUTHOR_FIRST @ViewBag.Author.AUTHOR_LAST</a></td>
                </tr>
            </tbody>
        </table>

        <h5>Inventory by Location</h5>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Location</th>
                    <th scope="col">On Hand Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var location in ViewBag.Locations)
                {
                <tr>
                    <th><a href="@Url.Action("GetSpecificBranch", "SearchBranch", new { id = location.BRANCH_NUM})">@location.BRANCH.BRANCH_NAME</a></th>
                    <td>@location.ON_HAND</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
